<nav>
    <div class="site-title">
        <a href="/">Home Page</a>
        <p>This Site for my partfolio</p>
    </div>
    <ul>
        <li><a href="/about">About</a></li>
        <li><a href="/books">New Book</a></li>
        <li><a href="/posts">New Post</a></li>
        <li><a href="/register">Register</a></li>
        <li><a href="/login">Login</a></li>
    </ul>
</nav>